@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 10%;
    --primary: 82 100% 45%; /* Svetlija zelena */
    --primary-foreground: 120 90% 96%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 50%;
    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 80% 65%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 85%;
    --ring: 0 0% 10%;
    --chart-1: 12 76% 65%;
    --chart-2: 173 58% 50%;
    --chart-3: 197 40% 30%;
    --chart-4: 43 74% 70%;
    --chart-5: 27 87% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 96%;
    --sidebar-foreground: 240 5.3% 20%;
    --sidebar-primary: 240 5.9% 15%;
    --sidebar-primary-foreground: 0 0% 96%;
    --sidebar-accent: 240 4.8% 92%;
    --sidebar-accent-foreground: 240 5.9% 15%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 217.2 91.2% 65%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 96%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 75%;
    --chart-1: 220 75% 60%;
    --chart-2: 160 65% 50%;
    --chart-3: 30 85% 65%;
    --chart-4: 280 70% 70%;
    --chart-5: 340 80% 65%;
    --sidebar-background: 240 5.9% 15%;
    --sidebar-foreground: 240 4.8% 92%;
    --sidebar-primary: 224.3 76.3% 55%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 20%;
    --sidebar-accent-foreground: 240 4.8% 92%;
    --sidebar-border: 255 255 255;
    --sidebar-ring: 217.2 91.2% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
